<script src="/assets/plugins/core/moment/moment.min.js"></script>
<script src="/assets/plugins/charts/sparklines/jquery.sparkline.js"></script>
<script src="/assets/plugins/charts/pie-chart/jquery.easy-pie-chart.js"></script>
<script src="/assets/plugins/forms/icheck/jquery.icheck.js"></script>
<script src="/assets/plugins/forms/tags/jquery.tagsinput.min.js"></script>
<script src="/assets/plugins/forms/tinymce/tinymce.min.js"></script>
<script src="/assets/plugins/forms/switch/jquery.onoff.min.js"></script>
<script src="/assets/plugins/forms/maxlength/bootstrap-maxlength.js"></script>
<script src="/assets/plugins/forms/bootstrap-filestyle/bootstrap-filestyle.js"></script>
<script src="/assets/plugins/forms/color-picker/spectrum.js"></script>
<script src="/assets/plugins/forms/daterangepicker/daterangepicker.js"></script>
<script src="/assets/plugins/forms/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/plugins/forms/globalize/globalize.js"></script>
<script src="/assets/plugins/forms/maskedinput/jquery.maskedinput.js"></script>
<script src="/assets/plugins/forms/select2/select2.js"></script>
<script src="/assets/plugins/forms/dual-list-box/jquery.bootstrap-duallistbox.js"></script>
<script src="/assets/plugins/forms/password/jquery-passy.js"></script>
<script src="/assets/plugins/forms/checkall/jquery.checkAll.js"></script>
<script src="/assets/plugins/forms/validation/jquery.validate.js"></script>
<script src="/assets/plugins/forms/validation/additional-methods.min.js"></script>
<script src="/assets/plugins/misc/highlight/highlight.pack.js"></script>
<script src="/assets/plugins/misc/countTo/jquery.countTo.js"></script>