#header
    .container-fluid
        .navbar
            .navbar-header
                a.navbar-brand(href="index.html")
                    i.im-window8.text-logo-element.animated.bounceIn
                    span.text-logo SF
                    span.text-slogan project
            nav.top-nav(role="navigation")
                ul.nav.navbar-nav.pull-left
                    li#toggle-sidebar-li
                        a#toggle-sidebar(href="#")
                            i.en-arrow-left2
                    li
                        a.full-screen(href="#")
                            i.fa-fullscreen
                ul.nav.navbar-nav.pull-right
                    li
                        a(href="#")

                    li.dropdown
                        a(href="#",data-toggle="dropdown")
                            | 当前选取学校：aaa，点击切换&nbsp;&nbsp;
                            i.ec-location
                            span.notification
                                | 5
                        ul.dropdown-menu.notification-menu.right(role="menu")
                            li.clearfix
                                i.ec-chart
                                a.notification-user(href="#")
                                    | Ric Jones
                                span.notification-action
                                    | replied to your
                                a.motification-link(href="#")
                                    | comment
                            li.clearfix
                                i.ec-chart
                                a.notification-user(href="#")
                                    | Ric Jones
                                span.notification-action
                                    | replied to your
                                a.motification-link(href="#")
                                    | comment
                    li.dropdown
                        a(href="#",data-toggle="dropdown")
                            img.user-avatar(src="/assets/img/avatars/48.jpg",alt="#{user.name}")
                            | #{user.name}
                        ul.dropdown-menu.right(role="menu")
                            li
                                a(href="profile.html")
                                    i.st-user
                                    | 我的资料
                            li
                                a(href="file.html")
                                    i.st-cloud
                                    | Files
                            li
                                a(href="#")
                                    i.st-settings
                                    | 设置
                            li
                                a(href="/admin/signout")
                                    i.im-exit
                                    | 退出登录