if err
    if err==="exist"
        span.label.label-danger.mt5 记录已存在
    if err === "wrong"
        span.label.label-danger.mt5 记录不匹配
    if err === "notexist"
        span.label.label-danger.mt5 记录不存在
    if err === "snotexist"
        span.label.label-danger.mt5 学校不存在