#sidebar
    .sidebar-inner
        ul#sideNav.nav.nav-pills.nav-stacked
            li.top-search
                form
                    input(type="text",name="search",placeholder="检索 ...")
                    button(type="submit")
                        i.ec-search.s20
            li
                a(href="#") 组织管理
                    i.br-grid
                ul.nav.sub
                    li
                        a(href="/admin/school/list")
                            i.en-house
                            | 学校管理
                    li
                        a(href="/admin/grade/list")
                            i.en-graduation
                            | 班级管理
            li
                a(href="#") 网站管理员
                    i.im-user4
                ul.nav.sub
                    li
                        a(href="/admin/admin/list")
                            i.im-users
                            | 管理员列表
            li
                a(href="#") 网站用户
                    i.st-users
                ul.nav.sub
                    li
                        a(href="/admin/president/list")
                            i.en-user
                            | 校长管理
                    li
                        a(href="/admin/user/list")
                            i.en-users
                            | 一般用户管理
                    li
                        a(href="/admin/role/list")
                            i.fa-group
                            | 角色管理
                    li
                        a(href="/admin/function/list")
                            i.im-cog
                            | 功能管理
            li
                a(href="#") 学生管理
                    i.im-happy
                ul.nav.sub
                    li
                        a(href="/admin/student/list")
                            i.im-happy
                            | 学生管理
            li
                a(href="#") 消息管理
                    i.br-comment