#header
    .container-fluid
        .navbar
            .navbar-header
                a.navbar-brand(href="index.html")
                    i.im-window8.text-logo-element.animated.bounceIn
                    span.text-logo spr
                    span.text-slogan flat
            nav.top-nav(role="navigation")
                ul.nav.navbar-nav.pull-left
                    li#toggle-sidebar-li
                        a#toggle-sidebar(href="#")
                            i.en-arrow-left2
                    li
                        a.full-screen(href="#")
                            i.fa-fullscreen
                    li.dropdown
                        a(href="#",data-toggle="dropdown")
                            i.ec-cog
                            span.notification 10
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#")
                                    i.en-database
                                    | Database
                                    span.notification 3
                            li
                                a(href="#")
                                    i.st-cube
                                    | Parkages
                                    span.notification.blue 17
                            li
                                a(href="#")
                                    i.st-health
                                    | Disconnects
                                    span.notification.yellow 1
                            li
                                a(href="#")
                                    i.im-images
                                    | Images
                                    span.notification.teal 320
                            li
                                a(href="#")
                                    i.st-users
                                    | Orange
                                    span.notification 2k
                            li
                                a(href="#")
                                    i.st-meter
                                    | Traffic
                                    span.notification.magenta 2tb
                            li
                                a(href="#")
                                    i.im-coin
                                    | Finances
                                    span.notification.pink +3k
                            li
                                a(href="#")
                                    i.st-folder
                                    | Directories
                                    span.notification.green 17
                            li
                                a(href="#")
                                    i.st-bag
                                    | Order
                                    span.notification.purple 12
                            li
                                a(href="#")
                                    i.ec-contract
                                    | Contracts
                                    span.notification.dark 7
                    li.dropdown
                        a(href="#",data-toggle="dropdown")
                            i.ec-mail
                            span.notification 4
                        ul.dropdown-menu.email(role="menu")
                            li.mail-head
                                .clearfix
                                    .pull-left
                                        a(href="email-inbox.html")
                                            i.ec-archive
                                    span Index
                                    .pull-right
                                        a(href="email-index.html")
                                            i.st-pencil
                            li.search-email
                                form
                                    input(type="text",name="search",placeholder="Search for emails")
                                    button(type="submit")
                                        i.ec-search
                            li.mail-list.clearfix
                                a(href="#")
                                    img.mail-avatar.pull-left(src="assets/img/avatars/128.jpg",alt="avatar")
                                    p.name
                                        span.status
                                            i.en-dot
                                        | Jason Rivera
                                        span.notification 2
                                        span.time 12:30am
                                    p.msg I contact you regarding my account please can you set up my pass ...
                            li.mail-list.clearfix
                                a(href="#")
                                    img.mail-avatar.pull-left(src="assets/img/avatars/129.jpg",alt="avatar")
                                    p.name
                                        span.status.off
                                            i.en-dot
                                        | Steeve Mclark
                                        span.notification 6
                                        span.time 10:26am
                                    p.msg Good job dude awesome work here,please add theese features ...
                            li.mail-list.clearfix
                                a(href="#")
                                    img.mail-avatar.pull-left(src="assets/img/avatars/130.jpg",alt="avatar")
                                    p.name
                                        span.status.off
                                            i.en-dot
                                        | Fellix Jones
                                        span.notification 1
                                        span.time 7:15am
                                    p.msg I have some issues when try to reach my product page can you ...
                            li.mail-list.clearfix
                                a(href="#")
                                    img.mail-avatar.pull-left(src="assets/img/avatars/131.jpg",alt="avatar")
                                    p.name
                                        span.status.off
                                            i.en-dot
                                        | Tina Dowsen
                                        span.notification 5
                                        span.time 03:46am
                                    p.msg Hello Sugge,i want to apply for your referal program,please ...
                            li.mail-more
                                a(href="email-inbox.html") View all
                                    i.en-arrow-right7
                ul.nav.navbar-nav.pull-right
                    li
                        a#toggle-header-area(href="#")
                            i.ec-download
                    li.dropdown
                        a(href="#",data-toggle="dropdown")
                            i.br-alarm
                            span.notification 5
                        ul.dropdown-menu.notification-menu.right(role="menu")
                            li.clearfix
                                i.ec-chat
                                a.notification-user(href="#") Ric Jones
                                span.notification-action replied to your
                                a.notification-link(href="#") comment
                            li.clearfix
                                i.st-pencil
                                a.notification-user(href="#") SuggeElson Jones
                                span.notification-action just write a
                                a.notification-link(href="#") post
                            li.clearfix
                                i.ec-trashcan
                                a.notification-user(href="#") SuperAdmin
                                span.notification-action just remove
                                a.notification-link(href="#") 12 files
                            li.clearfix
                                i.st-paperclip
                                a.notification-user(href="#") C. Wiilde
                                span.notification-action attach
                                a.notification-link(href="#") 3 files
                            li.clearfix
                                i.st-support
                                a.notification-user(href="#") John Simpson
                                span.notification-action add support
                                a.notification-link(href="#") ticket
                    li.dropdown
                        a(href="#",data-toggle="dropdown")
                            img.user-avatar(src="assets/img/avatars/48.jpg",alt="SuggeElson")
                            | SuggeElson
                        ul.dropdown-menu.right(role="menu")
                            li
                                a(href="profile.html")
                                    i.st-user
                                    | Profile
                            li
                                a(href="file.html")
                                    i.st-cloud
                                    | Files
                            li
                                a(href="#")
                                    i.st-settings
                                    | Settings
                            li
                                a(href="logon.html")
                                    i.im-exit
                                    | Logout
                    li.toggle-right-sidebar-li
                        a#toggle-right-sidebar(href="#")
                            i.ec-users
            #header-area.fadeInDown
                .header-area-inner
                    ul.list-unstyled.list-inline
                        li
                            .shortcut-button
                                a(href="#")
                                    i.im-pie
                                span Earning Stats
                        li
                            .shortcut-button
                                a(href="#")
                                    i.ec-images.color-dark
                                    span Gallery
                        li
                            .shortcut-button
                                a(href="#")
                                    i.en-light-bulb.color-orange
                                    span Fresh ideas
                        li
                            .shortcut-button
                                a(href="#")
                                    i.ec-link.color-blue
                                    span Links
                        li
                            .shortcut-button
                                a(href="#")
                                    i.ec-support.color-red
                                    span Support
                        li
                            .shortcut-button
                                a(href="#")
                                    i.st-look.color-teal
                                    span Look area