doctype html
html(lang="zh_CN")
    head
        meta(charset="utf-8")
        title= title
        meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1")
        <!-- Force IE9 to render in normal mode -->
        <!--[if IE]>
        meta(http-equiv="x-ua-compatible",content="IE=9")
        <![endif]-->
        meta(name="author",content="liumeng")
        meta(name="application-name",content="SFProject")
        include ../../includes/head
    body.login-page
        #login.animated.bounceIn
            img#logo(src="/assets/img/logo.png",alt="sprFlat Logo")
            .login-wrapper
                #myTabContent.tab-content.bn
                    #log-in.tab-pane.fade.active.in
                        form#login-form.form-horizontal.mt10(action="/admin/signin",role="form",method="POST",enctype="multipart/form-data")
                            .form-group
                                .col-lg-12
                                    input.form-control.left-icon(type="text",name="name",placeholder="用户名 ...")
                                    i.ec-user.s16.left-input-icon
                            .form-group
                                .col-lg-12
                                    input.form-control.left-icon(type="password",name="password",placeholder="密码 ...")
                                    i.ec-locked.s16.left-input-icon
                                    span.help-block
                                        a(href="#")
                                            small 忘记密码?
                            .form-group
                                .col-lg-3.col-md-3.col-sm-3.col-xs-12
                                    label.checkbox
                                        input#remember(type="checkbox",name="remember",value="option")
                                        | 记住我
                                .col-lg-9.col-md-9.col-sm-9.col-xs-12
                                    include ../../includes/notification
                                    button.btn.btn-success.pull-right(type="submit") 登录
        include ../../includes/FScript
        <script src="/assets/plugins/forms/icheck/jquery.icheck.js"></script>
        <script src="/assets/plugins/forms/validation/jquery.validate.js"></script>
        <script src="/assets/plugins/forms/validation/additional-methods.min.js"></script>
        <!-- Init plugins olny for this page -->
        <script src="/assets/js/pages/login.js"></script>