extends ../../layout

block content
    .content-wrapper
        .row
            .col-lg-12.heading
                ul#crumb.breadcrumb
                    li
                        i.im-home
                        a(href="/admin") 首页
                        i.en-arrow-right7
                    li
                        i.im-user4
                        a(href="/admin/admin/list") 网站管理员列表

block bottom
    script(src="/javascripts/app.js")
    script.
        setTimeout(function(){
            checkSideNav('管理员');
        },0);
